/* Size */

.text-xs {
	font-size: 0.75rem;
	line-height: 1rem;
}

.text-sm {
	font-size: 0.875rem;
	line-height: 1.25rem;
}

.text-base {
	font-size: 1rem;
	line-height: 1.5rem;
}

.text-lg {
	font-size: 1.125rem;
	line-height: 1.75rem;
}

.text-xl {
	font-size: 1.25rem;
	line-height: 1.75rem;
}

.text-2xl {
	font-size: 1.5rem;
	line-height: 2rem;
}

.text-3xl {
	font-size: 1.875rem;
	line-height: 2.25rem;
}

.text-4xl {
	font-size: 2.25rem;
	line-height: 2.5rem;
}

.text-5xl {
	font-size: 3rem;
	line-height: 1;
}

.text-6xl {
	font-size: 3.75rem;
	line-height: 1;
}

.text-7xl {
	font-size: 4.5rem;
	line-height: 1;
}

.text-8xl {
	font-size: 6rem;
	line-height: 1;
}

.text-9xl {
	font-size: 8rem;
	line-height: 1;
}

/* Align */

.text-left {
	text-align: left;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

/* Font */

.font-thin {
	font-weight: 100;
}

.font-extralight {
	font-weight: 200;
}

.font-light {
	font-weight: 300;
}

.font-normal {
	font-weight: 400;
}

.font-medium {
	font-weight: 500;
}

.font-semibold {
	font-weight: 600;
}

.font-bold {
	font-weight: 700;
}

.font-extrabold {
	font-weight: 800;
}

.font-black {
	font-weight: 900;
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

.capitalize {
	text-transform: capitalize;
}

.normal-case {
	text-transform: none;
}

.italic {
	font-style: italic;
}

.not-italic {
	font-style: normal;
}

/* Line Height */

.leading-3 {
	line-height: .75rem;
}

.leading-4 {
	line-height: 1rem;
}

.leading-5 {
	line-height: 1.25rem;
}

.leading-6 {
	line-height: 1.5rem;
}

.leading-7 {
	line-height: 1.75rem;
}

.leading-8 {
	line-height: 2rem;
}

.leading-9 {
	line-height: 2.25rem;
}

.leading-10 {
	line-height: 2.5rem;
}

.leading-none {
	line-height: 1;
}

.leading-tight {
	line-height: 1.25;
}

.leading-snug {
	line-height: 1.375;
}

.leading-normal {
	line-height: 1.5;
}

.leading-relaxed {
	line-height: 1.625;
}

.leading-loose {
	line-height: 2;
}

/* Letter Spacing */

.tracking-tighter {
	letter-spacing: -0.05em;
}

.tracking-tight {
	letter-spacing: -0.025em;
}

.tracking-normal {
	letter-spacing: 0em;
}

.tracking-wide {
	letter-spacing: 0.025em;
}

.tracking-wider {
	letter-spacing: 0.05em;
}

.tracking-widest {
	letter-spacing: 0.1em;
}

.-tracking-tighter {
	letter-spacing: 0.05em;
}

.-tracking-tight {
	letter-spacing: 0.025em;
}

.-tracking-normal {
	letter-spacing: -0em;
}

.-tracking-wide {
	letter-spacing: -0.025em;
}

.-tracking-wider {
	letter-spacing: -0.05em;
}

.-tracking-widest {
	letter-spacing: -0.1em;
}

/* Overflow */

.text-ellipsis {
	text-overflow: ellipsis;
}

.text-clip {
	text-overflow: clip;
}

/* Whitespace */

.whitespace-normal {
	white-space: normal;
}

.whitespace-no-wrap {
	white-space: nowrap;
}

.whitespace-pre {
	white-space: pre;
}

.whitespace-pre-line {
	white-space: pre-line;
}

.whitespace-pre-wrap {
	white-space: pre-wrap;
}

/* Decoration */

.hover\:underline:hover,
.underline {
	text-decoration-line: underline;
}

.overline {
	text-decoration-line: overline;
}

.line-through {
	text-decoration-line: line-through;
}

.no-underline {
	text-decoration-line: none;
}

.decoration-inherit {
	text-decoration-color: inherit;
}

.decoration-current {
	text-decoration-color: currentColor;
}

.decoration-transparent {
	text-decoration-color: transparent;
}

.decoration-black {
	text-decoration-color: black;
}

.decoration-white {
	text-decoration-color: white;
}

.decoration-solid {
	text-decoration-style: solid;
}

.decoration-double {
	text-decoration-style: double;
}

.decoration-dotted {
	text-decoration-style: dotted;
}

.decoration-dashed {
	text-decoration-style: dashed;
}

.decoration-wavy {
	text-decoration-style: wavy;
}

.decoration-0 {
	text-decoration-thickness: 0px;
}

.decoration-1 {
	text-decoration-thickness: 1px;
}

.decoration-2 {
	text-decoration-thickness: 2px;
}

.decoration-4 {
	text-decoration-thickness: 4px;
}

.decoration-8 {
	text-decoration-thickness: 8px;
}

.decoration-auto {
	text-decoration-thickness: auto;
}

.decoration-from-font {
	text-decoration-thickness: from-font;
}

.underline-offset-0 {
	text-underline-offset: 0px;
}

.underline-offset-1 {
	text-underline-offset: 1px;
}

.underline-offset-2 {
	text-underline-offset: 2px;
}

.underline-offset-4 {
	text-underline-offset: 4px;
}

.underline-offset-8 {
	text-underline-offset: 8px;
}

.underline-offset-auto {
	text-underline-offset: auto;
}

/* Color */

.text-inherit {
	color: inherit;
}

.text-current {
	color: currentColor;
}

.text-transparent {
	color: transparent;
}

.text-black {
	--text-opacity: 1;
	color: rgba(0, 0, 0, var(--text-opacity));
}

.hover\:text-black:hover {
	--text-opacity: 1;
	color: rgba(0, 0, 0, var(--text-opacity));
}

.active\:text-black:active {
	--text-opacity: 1;
	color: rgba(0, 0, 0, var(--text-opacity));
}

.focus\:text-black:focus {
	--text-opacity: 1;
	color: rgba(0, 0, 0, var(--text-opacity));
}

.text-white {
	--text-opacity: 1;
	color: rgba(255, 255, 255, var(--text-opacity));
}

.hover\:text-white:hover {
	--text-opacity: 1;
	color: rgba(255, 255, 255, var(--text-opacity));
}

.active\:text-white:active {
	--text-opacity: 1;
	color: rgba(255, 255, 255, var(--text-opacity));
}

.focus\:text-white:focus {
	--text-opacity: 1;
	color: rgba(255, 255, 255, var(--text-opacity));
}

/* Opacity */

.opacity-0 {
	opacity: 0;
}

.opacity-5 {
	opacity: 0.05;
}

.opacity-10 {
	opacity: 0.1;
}

.opacity-20 {
	opacity: 0.2;
}

.opacity-25 {
	opacity: 0.25;
}

.opacity-30 {
	opacity: 0.3;
}

.opacity-40 {
	opacity: 0.4;
}

.opacity-50 {
	opacity: 0.5;
}

.opacity-60 {
	opacity: 0.6;
}

.opacity-70 {
	opacity: 0.7;
}

.opacity-75 {
	opacity: 0.75;
}

.opacity-80 {
	opacity: 0.8;
}

.opacity-90 {
	opacity: 0.9;
}

.opacity-95 {
	opacity: 0.95;
}

.opacity-100 {
	opacity: 1;
}

.text-opacity-0 {
	--text-opacity: 0 !important;
}

.text-opacity-5 {
	--text-opacity: 0.05 !important;
}

.text-opacity-10 {
	--text-opacity: 0.1 !important;
}

.text-opacity-20 {
	--text-opacity: 0.2 !important;
}

.text-opacity-25 {
	--text-opacity: 0.25 !important;
}

.text-opacity-30 {
	--text-opacity: 0.3 !important;
}

.text-opacity-40 {
	--text-opacity: 0.4 !important;
}

.text-opacity-50 {
	--text-opacity: 0.5 !important;
}

.text-opacity-60 {
	--text-opacity: 0.6 !important;
}

.text-opacity-70 {
	--text-opacity: 0.7 !important;
}

.text-opacity-75 {
	--text-opacity: 0.75 !important;
}

.text-opacity-80 {
	--text-opacity: 0.8 !important;
}

.text-opacity-90 {
	--text-opacity: 0.9 !important;
}

.text-opacity-95 {
	--text-opacity: 0.95 !important;
}

.text-opacity-100 {
	--text-opacity: 1 !important;
}
